{% extends "::base.html.twig" %}
{% block body %}
<form method="post" action="{{ path('viteweb_article_homepage') }}" {{ form_enctype(form) }}>
    
{{ form_errors( form ) }}    
{{ form_widget( form ) }}
    
    <input type="submit">
    
</form>

{% endblock %} 



